$max-project-width: 1250px;
$internal-border-color: #cacaca;
$selected-bkgd-color: #efefef;

#select-all-button {
  border: 1px solid darkgrey;
  color: #d6d6d6;
  position: absolute;
  width: 18px;
  height: 18px;
  border-radius: 4px;
  // margin-left: 10px;
  // margin-bottom: 12px;
  left: calc(100% + 11px);
  background-color: white;
  cursor: pointer;
  .fa-check {
    display: none;
    &::before {
      position: absolute;
      top: 15%;
      left: 16%;
    }
  }
  &.active {
    background-color: darkgrey;
    color: white;
    .fa-check {
      display: block;
    }
  }
}

.all-project-nav-wrapper {
  position: fixed;
  z-index: 10000;
  width: 100%;
  .project-nav-wrapper {
    // position: fixed;
    padding: 12px 40px 0;
    z-index: 1200;
    width: 100%;
    /* margin: 0 40px; */
    background-color: #e4e4e4;
    .top-row-wrapper {
      display: flex;
      margin-bottom: 10px;
      align-items: center;
      max-width: $max-project-width;
      margin-left: auto;
      margin-right: auto;
      position: relative;
      .button2CSV {
        width: auto;
      }
      button {
        padding: 7px 13px;
      }
      .editButtons {
        width : 125px;
        display : block;
        background-color : white;
        border-radius : 10px;
        border-style : solid;
        border-width : 1px;
        border-color : #009fff;
        position : absolute;
        right : 0px;
        top : 45px;
        z-index : 9000;
        padding : 10px;
        display : none;
      }
    }
    .neume-table-header {
      height: 40px;
      border: 1px solid DodgerBlue;
      max-width: $max-project-width;
      margin-left: auto;
      margin-right: auto;
    }
  }
}


.neume-row, .neume-table-header {
  display: flex;
  align-items: center;
  position: relative;
}

html, body {
  min-height: 100%;
}

.neumeSection {
  margin-bottom: 200px;
  max-width: $max-project-width;
  border-bottom: 1px solid $internal-border-color;
}

.mei-header {
  min-width: 250px;
  max-width: 250px;
}

.neume-row .mei {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 250px;
  right: 0;
  border-left: 1px solid $internal-border-color;
  transition: all 0.2s ease-in-out;
  &.selected {
    background-color: $selected-bkgd-color;
  }
}

#neume-sheet .classification {
  margin-right: 250px;
}

.neume-button-wrapper {
  position: absolute;
  left: calc(100%);
  height: 100%;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  background-color: white;
  border-left: 1px solid $internal-border-color;
  .neume-delete-button, .neume-select-button, .neume-reorder-button {
    // position: absolute;
    // right: -36px;
    // top: 50%;
    margin-left: 6px;
    margin-bottom: 8px;
    // transform: translateY(-50%);
    background-color: transparent;
    width: 25px;
    height: 25px;
    outline: none;


    text-align: center;
    border-radius: 4px;
    line-height: 20px;
    // padding-left: 6.4px;
    transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
  }
  .neume-select-button {
    border: 1px solid darkgrey;
    color: #d6d6d6;
    position: relative;
    width: 18px;
    height: 18px;
    margin-left: 10px;
    margin-bottom: 12px;
    .fa-check {
      display: none;
      &::before {
        position: absolute;
        top: 15%;
        left: 16%;
      }
    }
    &.active {
      background-color: darkgrey;
      color: white;
      .fa-check {
        display: block;
      }
    }
    &.focus {
      background-color: darkgrey;
    }
  }
  .neume-delete-button {
    color: darkgrey;
    border: none;
    padding-left: 5.4px;
    padding-top: 3px;
    &.active {
      background-color: red;
      color: white;
      border-color: red;
    }
    &:focus {
      background-color: red;
    }
    .fa-lg {
      font-size: 1.533333em;
    }
  }
  .neume-reorder-button {
    border: none;
    color: darkgrey;
    margin-bottom: 0;
    cursor: pointer;
    .fa-lg {
      font-size: 1.633333em;
    }
  }
}

.neume-add-button, .upload-button, #neume-delete-selected-button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #34b334;
  background-color: white;

  text-align: center;
  line-height: 33px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
  // &:focus {
  //   background-color: white;
  //   color: #34b334;
  // }
}
.neume-add-button, .upload-button {
  color: #34b334;
  border: 2px solid #34b334;
  &:hover {
    background-color: #34b334;
    color: white;
  }
}
#neume-delete-selected-button {
  color: red;
  border: 2px solid red;
  &:hover {
    background-color: red;
    color: white;
  }
  &.active {
    background-color: red;
    color: white;
  }
}


.modal-content {
  display: table;
}

.neume-row {
  height: 100px;
  align-items: center;
  /* margin-bottom: 10px; */
  border-top: 1px solid $internal-border-color;
  border-left: 1px solid $internal-border-color;
  border-right: 1px solid $internal-border-color;
  transition: background-color 0.2s ease-in-out;
  &::after {
    content: "";
    position: absolute;
    left: 100%;
    height: 100%;
    width: 40px;
    z-index: 0;
    // pointer-events: none;
  }
  &.selected {
    background-color: $selected-bkgd-color;
  }
  &.ui-sortable-helper {
    background-color: $selected-bkgd-color;
    border-bottom: 1px solid $internal-border-color;
    .mei {
      background-color: $selected-bkgd-color;
    }
  }
}

.placeholder {
  background-color: #ddd;
  border-top: 1px solid $internal-border-color;
  border-left: 1px solid $internal-border-color;
  border-right: 1px solid $internal-border-color;
}

.neume-row:last-of-type {
  // border-bottom: 1px solid grey;
}

.neume-table-header {
  /* margin-bottom: 10px; */
  /* border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; */
  font-size: 15px;
}

.neume-table-header > * {
  padding-left: 10px;
  flex: 1;
  height: 100%;
  line-height: 40px;
  background-color: #afcfee;
}

.neume-table-header > *:not(:first-child) {
  border-left: 1px solid DodgerBlue;
  /* padding-left: 10px; */
}

.neume-row > input[type=text]:not(.browser-default) {
  flex: 1;
  /* margin-right: 20px; */
  border-left: 1px solid $internal-border-color;
  height: 100%;
  margin-bottom: 0;
  padding-left: 10px;
  cursor: default;
  border-bottom: none;
  &:focus {
    border-bottom: none;
    background-color: $selected-bkgd-color;
    box-shadow: none;
    z-index: 10;
  }
}

.neume-row > input[type=text]:not(:last-child), .neume-table-header > *:not(:last-child) {
  /* margin-right: 20px; */

}

.neume-row .image-wrap {
  width: 100px;
  /* margin-right: 20px; */
  height: 100px;
}
.neume-row .image-wrap img {
  max-width: 100%;
  padding: 10px;
  height: 100%;
  object-fit: contain;
}

.neume-row {
  .image-wrap {
    position: relative;
    .change-image-button {
      position: absolute;
      bottom: 5px;
      right: 5px;
      background-color: #a29797;
      padding: 7px 7px 5px 9px;
      border-radius: 8px;
      border: none;
      .fa-edit:before {
        color: white;
      }
    }
    .dropzone {
      height: calc(100% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      border-radius: 25px;
      border: 3px dotted rgba(0, 0, 0, 0.3);
      position: relative;
      padding: 5px;
      & * {
        cursor: pointer;
      }
      // overflow: hidden;
      .drag-zone {
        // margin: 5px;
        left: 1px;
        border-radius: 22px;
        width: 100%;
        height: 100%;
        z-index: 30;
        position: absolute;
        pointer-events: none;
      }
      .dz-message {
        font-size: 30px;
        margin:0;
        .fa-upload:before {
          color: rgba(0, 0, 0, 0.3)
        }
      }
      .dz-preview {
        margin: 0;
        min-height: inherit;
        width: 100%;
        height: 100%;
        .dz-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
