.neume-row, .neume-table-header {
  display: flex;
  align-items: center;
  position: relative;
}

.neume-table-header {
  height: 40px;
  border: 1px solid DodgerBlue;
}

.neumeSection {
  padding-bottom: 50px;
}

.mei-header {
  min-width: 250px;
  max-width: 250px;
}

.neume-row .mei {
  position: absolute;
  top: 0;
  bottom: 0;
  min-width: 250px;
  right: 0;
  border-left: 1px solid grey;
}

#neume-sheet .classification {
  margin-right: 250px;
}

.neume-button-wrapper {
  position: absolute;
  left: calc(100%);
  height: 100%;
  .neume-delete-button {
    position: relative;
    // right: -36px;
    top: 50%;
    margin-left: 6px;
    transform: translateY(-50%);
    background-color: transparent;
    width: 30px;
    height: 30px;
    outline: none;
    border: 2px solid red;
    color: red;
    text-align: center;
    border-radius: 8px;
    line-height: 27px;
    padding-left: 7px;
    transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
    &:hover {
      background-color: red;
      color: white;
    }
    &:focus {
      background-color: inherit;
    }
  }
}

.neume-add-button, .upload-button {
  width: 35px;
  height: 35px;
  border-radius: 20px;
  border: 2px solid #34b334;
  background-color: white;
  color: #34b334;
  text-align: center;
  line-height: 33px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out, color 0.1s ease-in-out;
  &:hover {
    background-color: #34b334;
    color: white;
  }
  // &:focus {
  //   background-color: white;
  //   color: #34b334;
  // }
}

.neume-row {
  height: 100px;
  align-items: center;
  /* margin-bottom: 10px; */
  border-top: 1px solid grey;
  border-left: 1px solid grey;
  border-right: 1px solid grey;
}

.neume-row:last-of-type {
  border-bottom: 1px solid grey;
}

.neume-table-header {
  /* margin-bottom: 10px; */
  /* border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black; */
  font-size: 15px;
}

.neume-table-header > * {
  padding-left: 10px;
  flex: 1;
  height: 100%;
  line-height: 40px;
  background-color: #afcfee;
}

.neume-table-header > *:not(:first-child) {
  border-left: 1px solid DodgerBlue;
  /* padding-left: 10px; */
}

.neume-row > input[type=text]:not(.browser-default) {
  flex: 1;
  /* margin-right: 20px; */
  border-left: 1px solid grey;
  height: 100%;
  margin-bottom: 0;
  padding-left: 10px;
  cursor: default;
}

.neume-row > input[type=text]:not(:last-child), .neume-table-header > *:not(:last-child) {
  /* margin-right: 20px; */

}

.neume-row .image-wrap {
  width: 100px;
  /* margin-right: 20px; */
  height: 100px;
}
.neume-row .image-wrap img {
  max-width: 100%;
  padding: 10px;
  height: 100%;
  object-fit: contain;
}

.neume-row {
  .image-wrap {
    position: relative;
    .change-image-button {
      position: absolute;
      bottom: 5px;
      right: 5px;
      background-color: #a29797;
      padding: 7px 7px 5px 9px;
      border-radius: 8px;
      border: none;
      .fa-edit:before {
        color: white;
      }
    }
    .dropzone {
      height: calc(100% - 10px);
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 5px;
      border-radius: 25px;
      border: 3px dotted rgba(0, 0, 0, 0.3);
      position: relative;
      padding: 5px;
      // overflow: hidden;
      .drag-zone {
        // margin: 5px;
        left: 1px;
        border-radius: 22px;
        width: 100%;
        height: 100%;
        z-index: 30;
        position: absolute;
        pointer-events: none;
      }
      .dz-message {
        font-size: 30px;
        margin:0;
        .fa-upload:before {
          color: rgba(0, 0, 0, 0.3)
        }
      }
      .dz-preview {
        margin: 0;
        min-height: inherit;
        .dz-image {
          width: 100%;
          height: 100%;
        }
      }
    }
  }
}
