doctype html
html
  head
    h2 Log-in
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    h1
    form#formAddUser(name="adduser" method="post" action="/projects")
      input#inputUserName(type="text" placeholder="username" name="username")
      input#inputUserPassword(type="password" placeholder="password" name="password")
      select
        option(value='volvo') Admin
        option(value='saab') User

      button#btnSubmit(type="submit") Submit
