.button {border-radius: 10px;
border-color : cornflowerblue;
width: 100%;
height: 15px;
font-size: 16px;
background-color: lightskyblue;
color: black;
display: inline-block;
padding: 16px 0px;
text-align: center;
//margin: 4px 2px;
//margin-right : 20;
//position: absolute;}

.button:hover {
  background-color: dodgerblue; /* pale blue */
  color: white;
}

.button2 {
  background-color: #92adbd; /* pale blue */
  color: black;
}

.button2:hover {
  background-color: #659abb; /* pale blue */
  color: white;
}