@media only screen and (max-width : 680px) {

	header {

		position: absolute;

	}

	#menu-icon {

		display:inline-block;

	}

	nav ul, nav:active ul { 

		display: none;
		position: absolute;
		padding: 0px 0px;
		background: #fff;
		border: 3px solid #444;
		right: 200px;
		top: 38px;
		width: 50%;
		border-radius: 4px 4px 4px 4px;
		z-index: 2000; /* Sit on top */

	}

	nav li {

		text-align: center;
		width: 100%;
		padding: 10px 20px;
		margin: 0;
		background : #fff;

	}

	nav:hover ul {

		display: block;


	}
#menu-icon {

	width: 35px;
  height: 5px;
  background-color: white;
  margin: 6px 0;

}