doctype html
html
  head    
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/buttonProjects.css")
    link(rel="stylesheet" href="/stylesheets/column.css")
    //link(rel="stylesheet" href="/stylesheets/loginStyle.css")
    link(rel="stylesheet" href="/stylesheets/projectsStyle.css")
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css')
    link(rel="stylesheet" href="/stylesheets/modal.css")

form#formAddproject(name="addproject",method="post",action="/projects")

                          p Name: 
                             input#inputName(class = "createProjectInput" type="text", placeholder="ex. Project", name="name" required)
                          p
                             button#btnSubmit(type="submit" class = "button buttonAddProject") submit