doctype html
html
  head
    link(rel="stylesheet" href="/stylesheets/error.css")

#clouds
  .cloud.x1
  .cloud.x1_5
  .cloud.x2
  .cloud.x3
  .cloud.x4
  .cloud.x5
.c
  ._404 

  ._2 #{error}
  br
  a.btn(href="javascript:history.back()") BACK TO CRESS 🎵

  script.
    setTimeout(function(){
            window.location.href="javascript:history.back()";
         }, 3000);
