doctype html
html
  head
   link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
   script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')

   script(src='/javascripts/dropzone.js')
   link(rel='stylesheet', href='/stylesheets/dropzone.css')
   script(type='text/javascript' src='/javascripts/ace.js')
   link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
   link(rel='stylesheet', href='/stylesheets/style.css')
   link(rel='stylesheet', href='/stylesheets/column.css')
   meta(name='viewport', content='width=device-width, initial-scale=1.0')

   title Nodejs file upload with MongoDB
   style(type='text/css', media='screen').
      #editor {
      height: 120px;
      width : 500px;
      }
   style(type='text/css', media='screen').
      #editor2{
      height: 120px;
      width : 500px;
      }

  body
    block content
    script(src='https://code.jquery.com/jquery-3.3.1.min.js')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js')

