.inputCss {
  margin-top: 5px;
  margin-bottom: 5px;
  display: inline-block;
  *display: inline;
  /* for IE7*/
  zoom: 1;
  /* for IE7*/
  vertical-align: middle;
  margin-left: 20px; }

.labelCss {
  display: inline-block;
  *display: inline;
  /* for IE7*/
  zoom: 1;
  /* for IE7*/
  float: left;
  padding-top: 5px;
  text-align: right;
  width: 140px; }
