head
  title Cress - MEI Mapping Tool 🎵 
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  script(src='/javascripts/popup.js', type='text/javascript')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')

  script(src='/javascripts/dropzone.js')
  link(rel='stylesheet', href='/stylesheets/dropzone.css')
  script(type='text/javascript' src='/javascripts/ace.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/column.css')
  link(rel='stylesheet', href='/stylesheets/collapsible.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(href='https://fonts.googleapis.com/icon?family=Material+Icons', rel='stylesheet')
  script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
 
  //- Lucky Sheet
  link(href="https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/css/pluginsCss.css", rel="stylesheet")
  link(href="https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/plugins.css", rel="stylesheet")
  link(href="https://cdn.jsdelivr.net/npm/luckysheet/dist/css/luckysheet.css", rel="stylesheet")
  link(href="https://cdn.jsdelivr.net/npm/luckysheet/dist/assets/iconfont/iconfont.css", rel="stylesheet")
  script(src="https://cdn.jsdelivr.net/npm/luckysheet/dist/plugins/js/plugin.js", type="text/javascript")
  script(src="https://cdn.jsdelivr.net/npm/luckysheet/dist/luckysheet.umd.js", type="text/javascript")

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')

  script(src='/javascripts/dropzone.js')
  link(rel='stylesheet', href='/stylesheets/dropzone.css')
  script(type='text/javascript' src='/javascripts/ace.js')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css')
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='/stylesheets/column.css')
  link(rel='stylesheet', href='/stylesheets/collapsible.css')
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='/stylesheets/dropzone.css', type='text/css', rel='stylesheet')
  script(src='/javascripts/dropzone.js', type='text/javascript')

  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
  link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
  link(href='/stylesheets/dropzone.css', type='text/css', rel='stylesheet')
  script(src='/javascripts/dropzone.js', type='text/javascript')
  script(src='/javascripts/worker-html.js', type='text/javascript')

  script(src='/javascripts/worker-html.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/buttonNeume.css')
  link(rel='stylesheet', href='/stylesheets/header.css')

  link(href='/stylesheets/popup.css', type='text/css', rel='stylesheet')
  link(href='/stylesheets/buttonNeume.css', type='text/css', rel='stylesheet')
  link(rel='stylesheet', href='/stylesheets/editor.css')
  link(rel='stylesheet', href='/stylesheets/tooltip.css')
  link(rel="icon" href="/images/Favicon.png")
  script(src='/javascripts/pageReload.js', type='text/javascript')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')
  link(rel='stylesheet', href='/stylesheets/tooltip.css')
  link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin="anonymous")
  link(rel='stylesheet', href='/stylesheets/w3-toggle.css')
  script(src='/javascripts/scroll-keep.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/boxSection.css')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js', type='text/javascript')
  link(rel='stylesheet', href='/stylesheets/dropdown.css')
  script(src='/javascripts/dropdown.js', type='text/javascript')
