.button {
 float: left;
  width: 13%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 1px; /* if you want space between the images */
 display: block;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 1px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
}

.button1 {
  margin: auto;
  float: right;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 30%;
  border: 2px solid #4caf50;
  z-index: 5000;
}
.button1UpdateName {
  margin : 0px 0px 10px 0px;
  float: left;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 38px;
  height : 1%;
  border: 2px solid #4caf50;
  margin-right : 10px;
}
.button1UpdateName:hover {
  background-color: #4caf50;
  color: white;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  margin: 20px;
  float: right;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 30%;
  height : 5%;
  border: 2px solid #008CBA;
}
.button2CSV {
  margin: 10px;
  float: right;
  top : -59px;
  background-color: DodgerBlue; 
  color: white; 
  border-radius: 30px;
  width : 15%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 5px;
  float : right;
}
.button2CSVUpdate {
  margin-top: 30px;
  margin-left: 10px;
  float: right;
  top : 0px;
  background-color: DodgerBlue; 
  color: white; 
  border-radius: 30px;
  width : 15%;
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  line-height: 5px;
  float : left;
  position : static;
}
.button2CSV:hover{
  background-color: royalBlue; 
}
.button2Update {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  margin: 10px;
  position : relative;
  float : right;

  top : -207px;
  right :3%;
  height : 30px;
  max-width : 40px;
  padding : 0px;
  margin-right : 10px; 
}
.notransition {
  -webkit-transition: none !important;
  -moz-transition: none !important;
  -o-transition: none !important;
  transition: none !important;
}
.viewNameButton {
  position : relative;
  float : left;
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
}
.button2Update {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  width : 15%;
}
.button2AddNeume {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  width : 38px;
  margin : 0px 0px 10px 0px;
  float : right;
  top : -52px;
  position : relative;
}
.otherButton {
  background-color: white; 
  color: black; 
  float : right;
  top : -52px;
  position : relative;
  background-color: white; 
  color: black; 
  width: 100px;
  margin : 0px 0px 10px 0px;
  border: 2px solid #008CBA;
  margin-right: 10px;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3DeleteCollab {
  background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  width : 4.7%;
  left : 470px;
  bottom : 40px;
  /*Adding the delete button to the collapsible element*/
  /*Adding the neumes for the projects.*/
}
.button3 {
 background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  max-width : 3%;
  /*Adding the delete button to the collapsible element*/
   position :  absolute;
   height : 30px;
   left : 96%;
   margin-top : -68px;
   margin-left : 5px;
   padding : 0px;
  /*Adding the neumes for the projects.*/
}
.button3DeleteSection {
 background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  max-width : 3%;
  min-width : 3%;
  /*Adding the delete button to the collapsible element*/
   position :  static;
   height : 30px;
   left : 94%;
   margin-top : -60px;
   margin-left : -40px;
   padding : 0px;
   top : 100px;
  /*Adding the neumes for the projects.*/
}
.button3DeleteImage {
 background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  border-radius: 15px;
}
.button3CancelImage {
  float: center;
  background-color: white; 
  width : 16%;
  color: black; 
  border: 2px solid #f44336;
  border-radius: 30px;
  height : 37px;
}
.button3CancelImage:hover {
  background-color: #f44336;
  color: white;
}
.button3DeleteImage:hover {
  background-color: #f44336;
  color: white;
}
.button3:hover {
  background-color: #f44336;
  color: white;
}
.button3DeleteSection:hover {
  background-color: #f44336;
  color: white;
}
.button3DeleteCollab:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  margin : -50px 0px -100px 0px;
  float: center;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 15%;
  height : 10%;
  border: 2px solid #555555;
}
.button5:hover {
  background-color: #555555;
  color: white;
}
.button5SubmitEdit {
  margin : 0.5px;
  float: center;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 15%;
  border: 2px solid #555555;
}
.button5SubmitEdit:hover {
  background-color: #555555;
  color: white;
}

.body{
   padding : 0px;
}