.header{
  box-sizing: border-box;
  background: linear-gradient(to left,#ff2952,#ce1e3f);;
}

.separator{
  height: 125px;
  margin-top:calc(125px * -1);
  background-image: linear-gradient(to bottom right, transparent, transparent 50%, #f3efe4 50%, #f3efe4);
  /* Using transparent for top of the gradient allows for a background image on the header. Alternatively you can just use a solid color that matches the header color. */
}

.footer{
  background: #f3efe4;
}

.button {border-radius: 5px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  background-color:black;
  height: 100%;
  position:relative;
  border-width: 10px;
  color : white
}}

.button:hover {
  background-color: black; /* pale blue */
  color: white;
}

.button2 {
  background-color: black; /* pale blue */
  color: black;
}
.button2No {
  border-radius: 5px;
 box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  text-align: center;
  height: 100%;
  position:relative;
  border-width: 10px;
  background-color : white;
  color: red;
}
.button2No : hover{
  background-color: red; /* pale blue */
  color: white;
}

.button2:hover {
  background-color: black; /* pale blue */
  color: white;
}
.buttonAddProject {
  background-color: white;
  color: black;
  height : 15%;
  width : 15%;
  border: 2px solid #555555;
}

.buttonAddProject:hover {
  background-color: #555555;
  color: white;
}