.button {
 float: left;
  width: 13%; /* three containers (use 25% for four, and 50% for two, etc) */
  padding: 1px; /* if you want space between the images */
 display: block;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 7px 1px;
  text-align: center;
  text-decoration: none;
  font-size: 13px;
  margin: 2px 2px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  border-radius: 30px;
}

.button1 {
  margin: auto;
  float: right;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 30%;
  height : 1%;
  border: 2px solid #4caf50;
  z-index: 5000;
}
.button1UpdateName {
  margin : 0px 0px 10px 0px;
  float: right;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 12%;
  height : 1%;
  border: 2px solid #4caf50;
}
.button1UpdateName:hover {
  background-color: #4caf50;
  color: white;
  right : 20px;
}

.button1:hover {
  background-color: #4caf50;
  color: white;
}

.button2 {
  margin: 20px;
  float: right;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 30%;
  height : 5%;
  border: 2px solid #008CBA;
}
.button2Update {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  margin: 10px;
}
.button2AddNeume {
  background-color: white; 
  color: black; 
  border: 2px solid #008CBA;
  width : 12%;
   margin : 0px 0px 10px 0px;
}
.button2:hover {
  background-color: #008CBA;
  color: white;
}

.button3 {
 background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  width : 4.7%;
  /*Adding the delete button to the collapsible element*/
   top : 0px;
   position : relative;
   margin : 15px;
  /*Adding the neumes for the projects.*/
}
.button3DeleteImage {
 background-color: white; 
  color: black; 
  border: 2px solid #f44336;
  border-radius: 15px;
}
.button3DeleteImage:hover {
  background-color: #f44336;
  color: white;
}
.button3:hover {
  background-color: #f44336;
  color: white;
}

.button4 {
  background-color: white;
  color: black;
  border: 2px solid #e7e7e7;
}

.button4:hover {background-color: #e7e7e7;}

.button5 {
  margin : -50px 0px -100px 0px;
  float: center;
  background-color: white; 
  color: black; 
  border-radius: 30px;
  width : 15%;
  height : 1%;
  border: 2px solid #555555;
}

.button5:hover {
  background-color: #555555;
  color: white;
}
.body{
   padding : 0px;
}