* {
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
   color: black;
}

/* Float four columns side by side */
.column {
  float: left;
  width: 25%;
  padding: 0 2px;
  color :black;
}
.btn-dropzon-cre{
  width: 95%;
  height: 95%;
  margin: auto;
  resize: none;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
.editor {
        margin: 0;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 200px;
      }


/* Style the counter cards */
.card {
  box-shadow: 0 4px 2px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */
  padding: 10px;
  text-align: center;
  background-color: #f1f1f1;
  height: 90%;
  position:relative;
  border-width: 2px;
  margin : 1px;
  border-radius : 20px;
  border-top-left-radius : 0px;
  border-top-right-radius : 0px;
  border-color : black;


}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
    height: 100%;
  }
}
input{
  resize: none;
}
textarea {
  width: 95%;
  height: 85%;
  margin: auto;
  resize: none;
}