.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  color : white;
}

.responsive-menu{
  z-index : 20000000;
  display: none;
  background-color: #444;
  border-style: solid;
  border-color: #252525;
  border-width: 1px;
  padding: 5px;
  width: 150px;
  height: 310px;
  font-size: 10px;
  border-radius : 10px;
  ul{
    z-index : 20000000000;
    margin: 0px 0px 0px -40px;

  }
  li {
    z-index : 20000000000;
    background-color: #383838;
    margin: 4px;
    padding: 5px;
    color: white;
    list-style-type: none;
  }
}

.expand {
      z-index : 20000000000;
  display: block !important;
  right : -100px; 
}
/*style for the second level menu*/
ul.submenu{
  max-height:0;
  padding:0;
  overflow:auto;
  list-style-type:none;
  background:#444;
  box-shadow:0 0 1px rgba(0,0,0,.3);
  transition:max-height 0.5s ease-out;
  position:absolute;
  min-width:100%;
}
ul.submenu li a{
  display:block;
  padding:12px;
  color:#ddd;
  text-decoration:none;
  box-shadow:0 -1px rgba(0,0,0,.5) inset;
  transition:background .3s;
  white-space:nowrap;
}
ul.submenu li a:hover{
}