.menu-btn span {
  display: block;
  width: 19px;
  height: 3px;
  margin: 4px 0;
  color : white;
}

.responsive-menu{
  z-index : 20000000;
  display: none;
  background-color: #444;
  border-style: solid;
  border-color: #252525;
  border-width: 5px;
  padding: 5px;
  width: 300px;
  height: 150px;
  font-size: 20px;
  ul{
    z-index : 20000000000;
    margin: 0px 0px 0px -40px;

  }
  li {
    z-index : 20000000000;
    background-color: #383838;
    margin: 4px;
    padding: 5px;
    color: white;
    list-style-type: none;
  }
}

.expand {
      z-index : 20000000000;
  display: block !important; 
}