.header {
  padding: 10px;
  text-align: center;
  background: 		#F8F8F8;
  color: white;
  font-size: 20px;
  border-color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); /* this adds the "card" effect */

}


.b {
  color: black;
}
