.project-list {
  display: flex;
  flex-direction: column;
}

.project-list > div {
  margin-bottom: 20px;
  height: 50px;
}

.delete-button-form {
  height: 100%;
}

.delete-button-form .button {
  height: 100%;
  margin: 4px 10px;
}
