body {
  background-color: white;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  height: auto;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

body{
  font-family:Arial, Helvetica, sans-serif; 
  font-size:13px;
  }
  
  .success, .error, .validation {
  border: 1px solid;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  }

  .success {
  color: #4F8A10;
  background-color: #DFF2BF;
  }
  .error {
  color: #D8000C;
  background-color: #FFBABA;
  }

  .caption{
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
  }
  .container{
  margin: 0 auto; 
  width: 50%;
}

.content{

  margin: 0 auto;
}
.content span{
  width: 250px;
}

.dz-message{
  text-align: center;
  font-size: 28px;
}

.dz-preview .dz-image img{
  width: 100% !important;
  height: 100% !important;
  object-fit: cover;
}

.bodyStyle {
  height : 5px;
}
.image-area {
  position: relative;
  width : 20%;
  background: #eee;
}
.image-area img{
  max-width: 100%;
  height: auto;
}
.remove-image {
display: none;
position: absolute;
top: -10px;
right: -10px;
border-radius: 10em;
padding: 2px 6px 3px;
text-decoration: none;
font: 700 21px/20px sans-serif;
background: #555;
border: 3px solid #fff;
color: #FFF;
box-shadow: 0 2px 6px rgba(0,0,0,0.5), inset 0 2px 4px rgba(0,0,0,0.3);
  text-shadow: 0 1px 2px rgba(0,0,0,0.5);
  -webkit-transition: background 0.5s;
  transition: background 0.5s;
}
.remove-image:hover {
 background: #E54E4E;
  padding: 3px 7px 5px;
  top: -11px;
right: -11px;
}
.remove-image:active {
 background: #E54E4E;
  top: -10px;
right: -11px;
}
article {
  -webkit-column-count: 2;
     -moz-column-count: 2;
          column-count: 2;
}