script(type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js")
block content
body
  h4(style = "font: 30px Avenir, sans-serif; text-align: left;") Upload Files 
    br
    h5(style = "font: 23px Avenir, sans-serif; text-align: left;").
      #{project.name}

 h5(style = "font: 18px Avenir, sans-serif; text-align: left;") For the neumes to be added to the project, this is how the excel file should be formatted before saving it as a .xlsx file and uploading it here : 
 img(src="/images/CSVModel.png" alt="Model for neumes" style = "width : 100%")

 h6(style = "font: 16px Avenir, sans-serif; text-align: left;") The first column needs to be the column with the images titled imagesBinary. Even if a field is missing, all the columns should be added in the right order with the right names (imagesBinary, name, folio, description, classification, mei). There should be no extra column added at the beginning or at the end of the document.
 br
 h6(style = "font: 20px Avenir, sans-serif; text-align: left;") Make sure your images are uploaded as .png in your excel or docx file. (.tiff extentions are not supported).
 h6(style = "font: 20px Avenir, sans-serif; text-align: left;") This upload might take 2 to 5 minutes, depending on the size of your file.


 form(action='/imageCSV',method='post',enctype="multipart/form-data")
                  input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                  input(type='text',value='#{project.name}', name='projectName' hidden)
                  br
                  h5 Upload file
                  p Choose the type of file to upload : 
                  select(style = "display : block" name="fileType" id = "fileTypeSelect" required class = "selectfileclass")
                    option(disabled='', selected='', value='')  -- select a file type --
                    option(value = ".xlsx") .xlsx
                    option(value = ".csv") .csv
                    option(value = ".docx") .docx
                    option(value = ".html") .html
                  br
                  br
                  input(type = 'file' name = "fileImage" id = "ImportFile" required)
                  button(type = 'submit' class = 'button button1' id = "imageCSVSubmitbutton") Upload
                  br
                  br           
script.
  $('.selectfileclass').change(function() {
    $('#ImportFile').attr("accept", $(this).val())
  })

