extends ../layout

block content
    h1.
         #{title} 
    a#addingNeume(href='/projects/new') Add project
    br
    //When creating projects, you need to have the user id linked
    button#logging-out(type='button', onclick = "window.location='/'") Logout
    ul
        - each project, i in projects
           button.collapsible(onclick = "window.location='/projects/#{project._id}/neumes'" method='post',name='updateproject',enctype='application/x-www-form-urlencoded') #{project.name} 
           br
           form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
             input(type='hidden',value='DELETE',name='_method')
             button(type='submit').
                    Delete
             br
             br
                  