doctype html
html
  head
  .column
    title MEI Mapping Projects
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/buttonProjects.css")
    link(rel="stylesheet" href="/stylesheets/column.css")
    //link(rel="stylesheet" href="/stylesheets/loginStyle.css")
    link(rel="stylesheet" href="/stylesheets/projectsStyle.css")
    link(rel="images" href="/images/CF-005 (1).png")
    //Column parameters
  div
    header
      // our main logo
      a#logo(href='index.html')
        span MEI Mapping Projects
      // main navigation links
      nav
        ul
          li
            a(href='#') About
          li
            a(href='/projects') Projects
          li
            a(href='#') DDMAL 
          li
            a(href='/') Log out
    // the content
    main
      // hero content
      .hero
        // content for the hero
        .hero-content

          h1.hero-title 
          h1.
               #{title} 
          p All of your mei-mapping projects, in one interface.
          a(href='#section') Add project
          a(href='#') Learn more
          // features section
          .site-section
          div
            .site-section-inside
                  .section-header
                    h2 Add a new project
                  .feature-box
                    .text
                      a#addingNeume(href='/projects/new') Add project
            br
            //When creating projects, you need to have the user id linked
            button#logging-out(type='button', onclick = "window.location='/'") Logout
            div
            .site-section
              // testimonials section
              .site-section.site-section-secondary
                .padding  
                   div#section
                    .site-section-inside
                      .section-header
                        h2 My Projects
                        ul
                            - each project, i in projects
                               button.collapsible(onclick = "window.location='/projects/#{project._id}'" method='post',name='updateproject',enctype='application/x-www-form-urlencoded') #{project.name} 
                               br
                               form(action='/projects/#{project._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                                 input(type='hidden',value='DELETE',name='_method')
                                 button(type='submit').
                                        Delete
                                 br
                                 br
                      