extends ../layout

head
block content
	h1.
		#{title}
	form#formAddproject(name="addproject",method="post",action="/projects")
		
		p Name: 
			input#inputName(type="text", placeholder="ex. Project", name="name" required)
		p
			button#btnSubmit(type="submit") submit
			