
head
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	link(href='/stylesheets/dropzone.css', type='text/css', rel='stylesheet')
	script(src='/javascripts/dropzone.js', type='text/javascript')
	script(src='/javascripts/worker-html.js', type='text/javascript')
	script(src='/javascripts/rm_image_dropzone.js', type='text/javascript')

block content
	h4.
		New Neume
	form#formAddneume(name="addneume",method="post",action="/neumes")
		link(href='/stylesheets/dropzone.css', rel='stylesheet')
		div#dropzone-example.dropzone(method='post', action='/image' name="image" required)
		.fallback
		p Name: 
			input#inputName(type="text", placeholder="ex. Punctum", name="name" required)
		p Folio:
			input#inputfolio(type="text", placeholder="ex. 1/r3", name="folio")

		p Description:
			input#inputDescription(type="text", placeholder="ex. Punctum", name="description")
		p(hidden) Project:
			input#inputProject(type = "text", placeholder = "project", name = "projectID",hidden) 
		p Classification:
			input#inputClassification(type="text", placeholder="ex. neume.punctum", name="classification")

		p MEI Snippet:
			#editor(name = "aceEdit")
			textarea#mei(name='mei', placeholder="ex. <neume>" style='display: none;')
			p Put the MEI code under review?
			select(name='review', style = 'display:block;' id = "underReview")
				option(value='No') No
				option(value='Yes') Yes
			p#URL(style = 'display:none;')
			input#inputID(type="text", name="ID_project")
		p
			button#btnSubmit(type="submit" class = "button button5") submit

	form(action='/neumes/deleteImageDropzone',method='post',enctype='application/x-www-form-urlencoded' id = "DeleteImageDropzoneForm")
		input(type="text", name="imageDeletedDropzone", id = "imageToDeleteDropzone" hidden required)     
		input(type='hidden',value='DELETE',name='_method')
		button(type = "submit" id ="deleteImageButtonDropzone" hidden) submit

		script.
			var url = window.location.href;
			var urlDOM = document.getElementById("URL").innerHTML = url;
			var array = urlDOM.split("/");
			var projectID = array[4];
			console.log(projectID);
			//console.log(array);
			document.getElementById("inputID").value = projectID;
			document.getElementById("inputID").style.visibility = "hidden";
		
		
	//Add these lines to a javascript file:
	script.
		var editor = ace.edit("editor");
		var textareaNew = $('#mei');
		editor.getSession().on("change", function () {
			textareaNew.val(editor.getSession().getValue());
			localStorage.setItem("ace",textareaNew.val());
		});
		editor.setTheme("ace/theme/monokai");
		editor.session.setMode("ace/mode/html");//Html mode parsing

		//If the mei snippet has errors, disable the submit button
		editor.getSession().on("changeAnnotation", function(){

				var annotation_lists = editor.getSession().getAnnotations();
				var has_error = false;

				for (var l in annotation_lists) {
				for (var a in annotation_lists[l]) {
				var annotation = annotation_lists[l][a];
				console.log(annotation);
				if (annotation === "error") {
				has_error = true;
				document.getElementById("btnSubmit").disabled = true;
					if(document.getElementById("underReview").value == "Yes")
						document.getElementById("btnSubmit").disabled = false;
					if(document.getElementById("underReview").value == "No")
						document.getElementById("btnSubmit").disabled = true;
				}
				else
					document.getElementById("btnSubmit").disabled = false;
				}
				}
		});
		
		var aceEditor = localStorage.getItem("ace");
		Dropzone.autoDiscover = false;
		var myDropzone = new Dropzone("#dropzone-example", {
			maxFileSize: 100,
			acceptedFiles: ".png, .jpg, .tiff, .tif, .jpeg",
			addRemoveLinks: false,
		});
		myDropzone.on('removedfile', function (file) {
		//Function from rm_image_dropzone.js to remove file from folder
		//console.log(file);
			});