h2 Create Section : 
form(action='/neumes/cancel',method='post',enctype='application/x-www-form-urlencoded' id = "cancel")  
	h3 Name : 
		input#inputName(class = "createProjectInput" type="text", placeholder="ex. Project", name = "name" required)

	button(type = "submit" id ="submitSection" class = "button3CancelImage") Submit