h3 Create Section 
form(action='/neumes/cancel',method='post',enctype='application/x-www-form-urlencoded' id = "cancel")  
	h4 Name : 
		input#inputName(class = "createProjectInput" type="text", placeholder="ex. Section-1", name = "name" required)

	button(type = "submit" id ="submitSection" class = "button3CancelImage") Submit