h3 Create Section 

form(action='/section',method='post',enctype='application/x-www-form-urlencoded' id = "section1")  
   h5 Name : 
   input#inputName(class = "createProjectInput" type="text", placeholder="ex. Section-1", name = "nameSection" required)
   input#inputProject(name = "ID_project" value = "#{project._id}" hidden)
 
   button( id ="submitSection" class = "button3CancelImage" onclick = "myFunction()") Submit

