block content
body
  h4(style = "font: 30px Avenir, sans-serif; text-align: left;") Upload CSV 
    br
    h5(style = "font: 23px Avenir, sans-serif; text-align: left;").
      #{project.name}
 h4(style = "font: 20px Avenir, sans-serif; text-align: left;") CSV Format
 br

 h5(style = "font: 18px Avenir, sans-serif; text-align: left;") For the neumes to be added to the project, this is how the excel file should be formatted before saving it as a .csv file and uploading it here : 
 img(src="/images/CSVModel.png" alt="Model for neumes" style = "width : 800px")

 h6(style = "font: 16px Avenir, sans-serif; text-align: left;") The first column needs to be the column with the names, description and classification. Even if a field is missing, all the columns should be added in the right order. There should be no extra column added at the beginning or at the end of the document.


 form(action='/uploadCSV',method='post',enctype="multipart/form-data")
                  input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                  input(type='text',value='#{project.name}', name='projectName' hidden)
                  br
                  h5 Upload CSV file
                  input(type = 'file' name = "csvFile" accept=".csv" id = "uploadFile")
                  br
                  br

                  h5 Upload Images
                  p To add images, simply save your xlsx file as an html file, and upload the folder titled "yourSpreadsheetName.fld" here!
                  input(type = 'file' name = "images" id = "uploadFile" webkitdirectory mozdirectory)
                  button(type = 'submit' class = 'button button1' id = "uploadCSVSubmitbutton" disabled) Upload
                  br
                  br

script.
 $('input[type=file]').change(function(){
    if($('input[type=file]').val()==''){
    	$('#uploadCSVSubmitbutton').attr('disabled',true)
    } 
    else{
      $('#uploadCSVSubmitbutton').attr('disabled',false);
    }
  })