block content
body
    h5.
      #{project.name}

 form(action='/openDocs',method='post',enctype='application/x-www-form-urlencoded')
                  input(type='text',value='#{project.id}', name='IdOfProject' hidden)
                  input(type='text',value='#{project.name}', name='projectName' hidden)
                  br
                  input(type = 'file' name = "csvFile")
                  button(type = 'submit' class = 'button button1') Upload