
style(type='text/css', media='screen').
 #editor {
    /** Setting height is also important, otherwise editor wont showup**/
    height: 120px;
  }

.panel.panel-default
  .panel-body
    #editor
      | //Mei encoding neume
      |
      | #{'<'}neume>
      |    #{'<'}nc />
      |  #{'<'}/neume>
  

script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
script.
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");
script.
  var editor = ace.edit("editor");
  editor.setTheme("ace/theme/monokai");
  editor.getSession().setMode("ace/mode/javascript");