
style(type='text/css', media='screen').
  #editor {
  margin: 0;
  //position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 300px;
  height: 200px;
  }
body
#editor
  | function foo(items) {
  | var x = "All this is syntax highlighted";
  | return x;
  | }
script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
script.
  var editor = ace.edit("editor");
  var editor2 = ace.edit("editor2");
  //Also need to add multiple ace editors for each added objects
  editor.setTheme("ace/theme/eclipse");
  editor.session.setMode("ace/mode/javascript");
