#myDiv
  Dropzone.autoDiscover = false;
  $("#mydropzone").dropzone({
      init: function() {
          var $this = this;
          $("button#clear-dropzone").click(function() {
              $this.removeAllFiles(true);
          });
      },
      paramName: "file",
      maxFilesize: 5,
      maxFiles : 1,
      autoProcessQueue : false
  });