#mydiv
    a.btn-dropzon-cre(class = "dropzone dz-clickable dz-started") create dropzone
    style.
      {display:block;
      visibility: visible;
      class : dropzone dz-clickable dz-started;}
    script.
      var dropzoneCreationFlag=true;
      $('.btn-dropzon-cre').click(function(event){

      dropzoneCreationFlag=true;
      $('#mydiv').removeClass("hidden").dropzone({ url: "/file/post" });
      })
