doctype html

head
  meta(charset='UTF-8')
  //Title for the upper part of the mei tool
  title Squiggle to MEI mapping tool

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

  link(rel='stylesheet' href='https://unpkg.com/flexmasonry/dist/flexmasonry.css')
  script(src='https://unpkg.com/flexmasonry/dist/flexmasonry.js')

  link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href="/stylesheets/dropzone.css")

//form links and scripts
  link(rel='stylesheet' href='/autocompletree.min.css')
  script(src='/autocompletree.js')

//Dropzone elements 
  link(rel='stylesheet' href='dropzone.css')
  script(type='text/javascript' src='dropzone.js')

//Button elements
link(rel='stylesheet' href='/stylesheets/popup.css')

//collapse elements
script(type='text/javascript' src='/javascripts/collapse.js')
link(rel='stylesheet' href='/stylesheets/collapsible.css')

//Column parameters
link(rel='stylesheet' href='/stylesheets/column.css')

//Menu parameters
link(rel='stylesheet' href='/stylesheets/header.css')

//Add button parameters
link(rel='stylesheet' href='/stylesheets/button.css')

//Rounded corners 
link(rel='stylesheet' href='/stylesheets/roundedCorners.css')
//Scripts and CSS for userEdits
script(type='text/javascript' src='/javascripts/sidebar.js')
link(rel='stylesheet' href="/stylesheets/sidebar.css")

//Header parameters
div
  nav.navbar.navbar-inverse(role='navigation')
    ul.nav.navbar-nav
      li.active
     
        a(href='/projects')
          | Home
          span.sr-only (current)
      li
        a(href='/about') About us
      li
        a(href='/contact') Contact
      li
        a(href='/help') Help
      li
        a(href='/') Log-out&nbsp;
      li
        a(href='/') User1
      li
        #content
          nav.navbar.navbar-expand-lg.navbar-light.bg-light
            .container-fluid
              button#sidebarCollapse.btn.btn-info(type='button')
                i.fas.fa-align-left
                span Edits
    

.wrapper
  nav#sidebar
    .sidebar-header
      h3 Edits
    ul.list-unstyled.components
      p User1
      li.active
        a.dropdown-toggle(href='#previousEditsSubmenu', data-toggle='collapse', aria-expanded='false') Previous Edits
      li
        a.dropdown-toggle(href='#PunctumSubmenu', data-toggle='collapse', aria-expanded='false') Editing Punctum
        ul#PunctumSubmenu.collapse.list-unstyled
          li
            a(href='#') Edit 1 : 02/01/19
          li
            a(href='#') Edit 2 : 02/01/19
      li
        a.dropdown-toggle(href='#PesSubmenu', data-toggle='collapse', aria-expanded='false') Editing Pes
        ul#PesSubmenu.collapse.list-unstyled
          li
            a(href='#') Edit 1 : 02/01/19
          li
            a(href='#') Edit 2 : 02/01/19
      li
        a(href='#') Community

  .roundedCorners
    div(id = "roundedBoxId")
      div
        .z_button(id ="button")
          .z_plus +
        #myModal.modal
          // Modal content
          .modal-content
            span.close x
            h4 New element
            form(action="/action_page.php")
              | Name: 
              input(type="text" name="Name" id = "elementName")
              br
              center
                 button.btn.btn-default.btn-sm(type="button" id ="newCollapsible")
                  |  Submit
        
      .header
       .b
        ab Drag and Drop&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Name, Folio, Description&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Classifier label&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;MEI snippet&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

      button.collapsible(id = 'collapsibleButton') Punctum
        span.close ×
      include meiEncodingObject.pug
      



            script(type='text/javascript' src='/javascripts/ace.js')
            script(type='text/javascript' src='/javascripts/label.js')

      //Getting the collapsible-element javascript file
      script(type='text/javascript' src='/javascripts/collapsible_element.js')


      block content
       block foot

