doctype html

head
  meta(charset='UTF-8')
  //Title for the upper part of the mei tool
  title Squiggle to MEI mapping tool

  script(src='//ajax.googleapis.com/ajax/libs/angularjs/1.3.3/angular.min.js')
  script(src='//cdnjs.cloudflare.com/ajax/libs/angular.js/1.3.3/angular-route.min.js')
  script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js')
  script(src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js')

  link(rel='stylesheet' href='https://unpkg.com/flexmasonry/dist/flexmasonry.css')
  script(src='https://unpkg.com/flexmasonry/dist/flexmasonry.js')

  link(rel='stylesheet' href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css')
  link(rel='stylesheet' href="/stylesheets/dropzone.css")

//form links and scripts
  link(rel='stylesheet' href='/autocompletree.min.css')
  script(src='/autocompletree.js')

//Dropzone elements 
  link(rel='stylesheet' href='dropzone.css')
  script(type='text/javascript' src='dropzone.js')

//Button elements
link(rel='stylesheet' href='/stylesheets/popup.css')

//collapse elements
script(type='text/javascript' src='/javascripts/collapse.js')
link(rel='stylesheet' href='/stylesheets/collapsible.css')

//Column parameters
link(rel='stylesheet' href='/stylesheets/column.css')
  
//Header parameters
div
  div
    nav.navbar.navbar-inverse(role='navigation' style="color:blue;")
      ul.nav.navbar-nav
        li.active
       
          a(href='/projects')
            | Home
            span.sr-only (current)
        li
          a(href='/about') About us
        li
          a(href='/contact') Contact
        li
          a(href='/help') Help
        li
          a(href='/') Log-out

  .card
   .hero-text
     h1  Squiggle to MEI mapping tool

p
  | 
  a.btn.btn-info.btn-lg(href="#" id ="button")
    span.glyphicon.glyphicon-plus-sign
    |  Add
  #myModal.modal
    // Modal content
    .modal-content
      span.close x
      h4 New element
      form(action="/action_page.php")
        | Name: 
        input(type="text" name="Name" id = "elementName")
        br
        center
           button.btn.btn-default.btn-sm(type="button" id ="newCollapsible")
            |  Submit


button.collapsible(id = 'collapsibleButton') Punctum
include meiEncodingObject.pug

button.collapsible(id = 'collapsibleButton2') Pes
.content
  section.row
 
    .column
     .card
      h4 Drag and drop images
      section
       script(src='/javascripts/dropzone.js')
       link(rel='stylesheet', href='/stylesheets/dropzone.css')

       form(action='/images', class ='dropzone', method='post', id='my-dropzone-element-id')
        div(class='fallback')
          input(type='file', name='pic' multiple)
          | Drop files here or click to upload.
          span.note.needsclick

    .column
     .card 
      h4 Name, Folio, Description

      h6 Name :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')

      h6 Folio :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')

      h6 Description :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          textarea(rows="6" cols="30")
  

    .column
     .card
      h4 Classifier label
       .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
  

    .column
     .card
      h4 MEI snippet
      br
      style(type='text/css', media='screen').
        #editorSecond {
        margin: 0;
        //position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 300px;
        height: 200px;
        }
      #editorSecond
        | function foo(items) {
        | var x = "All this is syntax highlighted";
        | return x;
        | }
      script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
      script.
        var editorSecond = ace.edit("editorSecond");
        //Also need to add multiple ace editors for each added objects
        editorSecond.setTheme("ace/theme/eclipse");
        editorSecond.session.setMode("ace/mode/javascript");

      script(type='text/javascript' src='/javascripts/ace.js')
        



button.collapsible(id = 'collapsibleButton') Scandicus
include meiEncodingObject.pug

//Getting the collapsible-element javascript file
script(type='text/javascript' src='/javascripts/collapsible_element.js')

block content
 block foot
