#clone-container
  .clone
    .column
         .card
          script(src='/javascripts/dropzone.js')
          link(rel='stylesheet', href='/stylesheets/dropzone.css')
          section#dropzoneSection
           form(action='/meiMapping', class ='dropzone', method='post', name = 'images', id='my-dropzone-element-id' enctype= 'multipart/form-data')
            div(class='fallback')
              input(type='file', name='images' multiple)
              | Drop files here or click to upload.

              span.note.needsclick
   
    form(method='POST' action='/meiMapping' name = 'name')           
      .column
           .card 
            h6 Name :
              .o-autocompletree__input 
              .o-autocompletree__tag
              .o-autocompletree__suggestion-list
               p 
                  input#inputName(type='text' name='name' data-path='neumes.json' data-autocompletree='')
                  h6 Folio :
                    .o-autocompletree__input 
                    .o-autocompletree__tag
                    .o-autocompletree__suggestion-list
                     p 
                      input#inputFolio(type='text' name='folio' data-path='neumes.json' data-autocompletree='')
                      

                      br
                      a(href='javascript:void(0);' id ="folioButton")

                       span.glyphicon.glyphicon-plus

                  h6 Description :
                    .o-autocompletree__input 
                    .o-autocompletree__tag
                    .o-autocompletree__suggestion-list
                     p 
                        textarea#inputDescription(rows="4" cols="25" name = 'description') 
      .column
           .card
            .o-autocompletree__input 
            .o-autocompletree__tag
            .o-autocompletree__suggestion-list
             p 
                  input#inputClassification(type='text' name='classLabel' data-path='neumes.json' data-autocompletree='' class = "input")
                    
                  br
                  a(href='javascript:void(0);')   
                   span.glyphicon.glyphicon-plus#classifierButton
      .column
           .card#aceCard
            br
            style(type='text/css', media='screen').
             #editor {
                /** Setting height is also important, otherwise editor wont showup**/
                height: 120px;
              }

            .panel.panel-default
              .panel-body
                #editor(name = "aceEdit")
                textarea(name='editor', style='display: none;')
                  | //Mei encoding neume
                  |
                  | #{'<'}neume>
                  |    #{'<'}nc />
                  |  #{'<'}/neume>
  

      script(src='/ace-builds/src-noconflict/ace.js', type='text/javascript', charset='utf-8')
      script.
        var editor = ace.edit('editor');
        var textarea = $('textarea[name="editor"]');
        editor.getSession().on("change", function () {
            textarea.val(editor.getSession().getValue());
        });
        editor.setTheme("ace/theme/monokai");
        editor.getSession().setMode("ace/mode/javascript");
        var code = editor.getValue();

      script(type='text/javascript' src='/javascripts/ace.js')
      button.signupbtn(type='submit') Save    
   

       

