#clone-container
  .clone
    .column
         .card
          script(src='/javascripts/dropzone.js')
          link(rel='stylesheet', href='/stylesheets/dropzone.css')
          section#dropzoneSection
           form(action='/meiMapping', class ='dropzone', method='post', name = 'hey', id='my-dropzone-element-id')
            div(class='fallback')
              input(type='file', name='images' multiple)
              | Drop files here or click to upload.

              span.note.needsclick
              
    .column
         .card 
          h6 Name :
            .o-autocompletree__input 
            .o-autocompletree__tag
            .o-autocompletree__suggestion-list
             p 
              form(method='POST' action='/smeiMapping')
              input(type='text' name='name' data-path='neumes.json' data-autocompletree='')
          h6 Folio :
            .o-autocompletree__input 
            .o-autocompletree__tag
            .o-autocompletree__suggestion-list
             p 
              form(method='POST' action='/meiMapping' id="form")
              input(type='text' name='folio' data-path='neumes.json' data-autocompletree='')

              br
              a(href='javascript:void(0);' id ="folioButton")

               span.glyphicon.glyphicon-plus

          h6 Description :
            .o-autocompletree__input 
            .o-autocompletree__tag
            .o-autocompletree__suggestion-list
             p 
              form(method='POST' action='/meiMapping' name = 'String')
              textarea(rows="4" cols="25") 
    .column
         .card
          .o-autocompletree__input 
          .o-autocompletree__tag
          .o-autocompletree__suggestion-list
           p 
            form(method='POST' action='/submit-form' id = "inputClassifier" class = "classifier")
            input(type='text' name='input' data-path='neumes.json' data-autocompletree='' class = "input")
            br
            a(href='javascript:void(0);')   
             span.glyphicon.glyphicon-plus#classifierButton
    .column
         .card#aceCard
          br
          include ace.pug

          script(type='text/javascript' src='/javascripts/ace.js')
       

       

