

.content
  section#template.row
 
    .column
     .card
      section
       script(src='/javascripts/dropzone.js')
       link(rel='stylesheet', href='/stylesheets/dropzone.css')

       form(action='/images', class ='dropzone', method='post', id='my-dropzone-element-id')
        div(class='fallback')
          input(type='file', name='pic' multiple)
          | Drop files here or click to upload.
          span.note.needsclick

    .column
     .card 
      h6 Name :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
     
      h6 Folio :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form' id="form")
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
          a(href='#' id ="folioButton")   
           span.glyphicon.glyphicon-plus

      h6 Description :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          textarea(rows="4" cols="30")

  

    .column
     .card
       .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form' id = "inputClassifier")
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='' )
          
          a(href='#')   
           span.glyphicon.glyphicon-plus#classifierButton



  

    .column
     .card
      br
      include ace.pug

      script(type='text/javascript' src='/javascripts/ace.js')
        
     script(type='text/javascript' src='/javascripts/label.js')


