.content
  section.row
 
    .column
     .card
      h4 Drag and drop images
      section
       script(src='/javascripts/dropzone.js')
       link(rel='stylesheet', href='/stylesheets/dropzone.css')

       form(action='/images', class ='dropzone', method='post', id='my-dropzone-element-id')
        div(class='fallback')
          input(type='file', name='pic' multiple)
          | Drop files here or click to upload.
          span.note.needsclick

    .column
     .card 
      h4 Name, Folio, Description

      h6 Name :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
     
      h6 Folio :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')

      h6 Description :
        .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          textarea(rows="6" cols="30")
  

    .column
     .card
      h4 Classifier label
       .o-autocompletree__input 
        .o-autocompletree__tag
        .o-autocompletree__suggestion-list
         p 
          form(method='POST' action='/submit-form')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
          input(type='text' name='neume' data-path='neumes.json' data-autocompletree='')
  

    .column
     .card
      h4 MEI snippet
      br
      include ace.pug

      script(type='text/javascript' src='/javascripts/ace.js')
        



