doctype html
html
  head
    h1 MEI Mapping Projects
    link(rel="stylesheet" href="/stylesheets/style.css")
    link(rel="stylesheet" href="/stylesheets/buttonProjects.css")
    //Column parameters
 

  body
    h2 Project
  link(rel='stylesheet' href='/stylesheets/popup.css')
  script(type='text/javascript' src='/javascripts/collapse.js')
  link(rel='stylesheet' href='/stylesheets/collapsible.css')
  p
  | 
  a.button3(href="#" id ="projectButton" formaction="/meiMapping")
    span
    |  Add Project
    br
    br
  #projectModal.modal
    // Modal content
    .modal-content
      span.close x
      h4 New element
      form#formAddProject(name="meiMapping" method="post" action="/meiMapping")
        | Name: 
        input(type="text" name="name" id = "elementName")
        br
        center
           button.btn.btn-default.btn-sm(type="button" id ="submitProject")
            |  Submit

script(type='text/javascript' src='/javascripts/addProject.js')

