// Sidebar
  nav#sidebar
    .sidebar-header
      h3 Bootstrap Sidebar
    ul.list-unstyled.components
      p Dummy Heading
      li.active
        a.dropdown-toggle(href='#homeSubmenu', data-toggle='collapse', aria-expanded='false') Home
        ul#homeSubmenu.collapse.list-unstyled
          li
            a(href='#') Home 1
          li
            a(href='#') Home 2
          li
            a(href='#') Home 3
      li
        a(href='#') About
      li
        a.dropdown-toggle(href='#pageSubmenu', data-toggle='collapse', aria-expanded='false') Pages
        ul#pageSubmenu.collapse.list-unstyled
          li
            a(href='#') Page 1
          li
            a(href='#') Page 2
          li
            a(href='#') Page 3
      li
        a(href='#') Portfolio
      li
        a(href='#') Contact


