doctype html
html
  head
    h2 Log-in
    link(rel="stylesheet" href="/stylesheets/style.css")
  body
    h1
    form#formAddUser(name="adduser" method="post" action="/")
      input#inputUserName(type="text" placeholder="username" name="username")
      input#inputUserPassword(type="password" placeholder="password" name="password")
      select#optionUser(name="type")
        option(value='admin') Admin
        option(value='user') User

      button#btnSubmit(type="submit") Submit

      h3 Wrong password, try again!

script(type='text/javascript' src='/app.js')
