doctype html
html
  head
  style.
    h2 { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: Candara, Calibri, Segoe, "Segoe UI", Optima, Arial, sans-serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

  h2 Log-in
  link(rel="stylesheet" href="/stylesheets/style.css")
  body
    h1
    form#formAddUser(name="adduser" method="post" action="/projects")
      input#inputUserName(type="text" placeholder="username" name="username")
      input#inputUserPassword(type="password" placeholder="password" name="password")
      select#optionUser(name="type")
        option(value='admin') Admin
        option(value='user') User

      button#btnSubmit(type="submit") Submit


//Adding a new user interface : 

include loginPage.pug
