extends ../layout

block content
    h1.
         #{title}

    a#addingNeume(href='/neumes/new') Add neume
    ul
        - each neume, i in neumes
            li
                = neume.name
                = neume.folio
                = neume.description
                = neume.classification
                = neume.mei
                = neume.dob
                = neume._id
                = neume.image
                form(action='/neumes/#{neume._id}/edit',method='post',enctype='application/x-www-form-urlencoded')
                    input(type='hidden',value='DELETE',name='_method')
                    button(type='submit').
                        Delete
                p 
                    a#editing(href='/neumes/#{neume._id}/edit') Edit
                p
                    a(href='/neumes/#{neume._id}') Show
                br
                a#logging-out(type='button', href='/logout') Logout