extends ../layout

head
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js')
	link(href='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.css', type='text/css', rel='stylesheet')
	script(src='https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.4.0/dropzone.js', type='text/javascript')
	script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
	link(href='/stylesheets/dropzone.css', type='text/css', rel='stylesheet')
	script(src='/javascripts/dropzone.js', type='text/javascript')
	script(src='/javascripts/worker-html.js', type='text/javascript')

block content
	h1.
		#{title}
	form#formAddneume(name="addneume",method="post",action="/neumes")
		link(href='/stylesheets/dropzone.css', rel='stylesheet')
		div#dropzone-example.dropzone(method='post', action='/image' name="image" required)
		.fallback
		p Name: 
			input#inputName(type="text", placeholder="ex. Punctum", name="name" required)
		p Folio:
			input#inputfolio(type="text", placeholder="ex. 1/r3", name="folio")

		p Description:
			input#inputDescription(type="text", placeholder="ex. Punctum", name="description")

		p Classification:
			input#inputClassification(type="text", placeholder="ex. neume.punctum", name="classification")

		p MEI Snippet:
			//input#inputMei(type="text", placeholder="ex. <neume>", name="mei")
			#editor(name = "aceEdit")
			textarea#inputMei(name='mei', placeholder="ex. <neume>" style='display: none;')
		p
			button#btnSubmit(type="submit") submit
	
	//Add these lines to a javascript file:
	script.
		var editor = ace.edit("editor");
		var textarea = $('textarea[name="mei"]');
		editor.getSession().on("change", function () {
			textarea.val(editor.getSession().getValue());
			localStorage.setItem("ace",textarea.val());
		});
		editor.setTheme("ace/theme/monokai");
		editor.session.setMode("ace/mode/html");//Html mode parsing
		var aceEditor = localStorage.getItem("ace");
		Dropzone.autoDiscover = false;
		var myDropzone = new Dropzone("#dropzone-example", {
			maxFileSize: 100,
			acceptedFiles: ".png, .jpg, .tiff, .tif, .jpeg",
			addRemoveLinks: true,
		});
		myDropzone.on('removedfile', function (file) {
		//Need to add the remove file to true from the dropzone.
			var fs = require('fs');
			  console.log(file);

			/* here do AJAX call to your server ... */
			//try an ajax call with a php file
			});